body {
    background-color: lightgreen;
}
#c1 {
    width: 650px;
    height: 450px;
    border: 3px solid black;
    margin: 40px;
}
.wrapper__left {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
}
.wrapper__left canvas {
    background-color: #FFFFFF;
}
.wrapper__right {
    position: absolute;
    right: 0;
    top: 20%;
    width: 40%;
}
.right__cp {
    position: relative;
}
.cp__1 {
    display: block;
    padding-bottom: 5px;
}
.cp__1 label {
    display: inline-block;

}
.cp__1 input {
    display: inline-block;
    margin: 5px 5px 5px;
    width: 250px;

}
.right__cp span {
    position: relative;
    margin-left: 25%;
    font-size: 25px;
    bottom: 20px;

}
.cp__2 {
    margin-left: 20%;
}
.add {
    background-color: yellow;
}
.generate-all {
    background-color: chartreuse;
}
.init {
    background-color: olive;
}